.ContextMenuContainer {

}

.ContextMenuItemParentContainer {
  display: flex;
  flex-direction: column;

  border-radius: var(--global-border-radius);
  padding: var(--global-padding);
  box-shadow: var(--generic-box-shadow);

  z-index: 1;
}

.ContextMenuBackdrop {
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0.4;

  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .ContextMenuContainer {

  }
}
