.FriendPageContainer {
  display: flex;
  flex-direction: column;
}

.CreateChannelContainer {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .FriendPageContainer {

  }
}
