.MessageMediaImageContainer {
  border-radius: var(--global-border-radius);
}

.MessageMediaImage {
  border-radius: var(--global-border-radius);

  width: 100%;
  height: 100%;
  object-fit: contain;
}

.MessageMediaImageOverlay {

}

@media only screen and (max-width: 600px) {

}
