.GenericDialogContainer {

}

.GenericDialogInnerContainer {
  display: flex;
  flex-direction: column;
  padding: var(--dialog-padding-top) var(--dialog-padding-right) var(--dialog-padding-bottom) var(--dialog-padding-left);
  border-radius: var(--global-border-radius);

  box-sizing: border-box;

  position: absolute;
  min-width: 25rem;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.GenericDialogTitle {
  overflow-wrap: break-word;
}

.GenericDialogContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: var(--dialog-margin) 0;
}

.GenericDialogButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  .GenericDialogInnerContainer {
    position: static;
    height: 100%;

    border-radius: 0;;

    padding: var(--dialog-padding-top-constrained) var(--dialog-padding-right-constrained) var(--dialog-padding-bottom-constrained) var(--dialog-padding-left-constrained);    ;

    transform: none;
    -ms-transform: none;
  }

  .GenericDialogContentContainer {
    margin: var(--dialog-margin-constrained) 0;
  }

  .GenericDialogButtonContainer {
    margin-top: auto;
    margin-bottom: var(--global-margin);
  }
}
