.PageContainer {
  display: flex;
  flex-direction: column;

  padding: var(--global-padding);
  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .PageContainer {
    padding: 0;
  }

  .PageContainerNonAdaptive {
    padding: var(--global-padding);;
  }
}
