.DashboardPageContainer {

}

.UserSection {

}

.UserSectionCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 10px !important;
  border-radius: var(--global-border-radius) !important;
}

.UserSectionButtonContainer, .UserInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Overlay {
  text-align: center;
  font-size: 100px;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 128px;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.OverlayContainer:hover .Overlay {
  color: #eee;
}

.OverlayContainer:not(.OverlayContainer:hover) .Overlay {
  color: transparent;
}

@media only screen and (max-width: 600px) {
  .DashboardPageContainer {

  }

  .UserSectionCard {
    flex-direction: column;
  }

  .UserSectionButtonContainer, .UserInfoContainer {
    flex-direction: column;
  }
}


/* Random crap im messing with*/
.colored-circle {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -2px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  height: 20px;
  width: 20px;
}
