.BlockedUsersPageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  overflow: hidden;

  gap: var(--global-margin);
}

.NoBlockedUsersHintContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .BlockedUsersPageContainer {

  }
}
