.AvatarTextButtonContainer {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start !important;

  padding: var(--global-padding) !important;
  border-radius: var(--global-border-radius) !important;

  width: 100%;
}

.AvatarTextButtonLeft {

}

.AvatarTextButtonRight {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: var(--global-margin);
}

.AvatarTextButtonIcon {

}

@media only screen and (max-width: 600px) {
  .AvatarTextButtonContainer {

  }
}
